
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutJSCSS</title>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/blue/css")

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
