@{
    ViewBag.Title = "BaseDataDataGridTest";
    Layout = "~/Views/Shared/_LayoutJSCSS.cshtml";
}

<div class="easyui-plane">
    <input class="easyui-textbox" id="testkey" label="用户名" />
    <a href="#" class="easyui-linkbutton" onclick="">查询</a>
    <a href="#" class="easyui-linkbutton" onclick="webPring()">打印</a>

    <a href="javascript:;" class="easyui-linkbutton" onclick="$('#dg').datagrid('toExcel','dg.xls')">ExportToExcel</a>
    <a href="javascript:;" class="easyui-linkbutton" onclick="$('#dg').datagrid('print','DataGrid')">Print</a>
</div>

<div>
    <table id="dg" class="easyui-datagrid">
        <thead>
            <tr>
                <th colspan="2">标题</th>
                <th rowspan="2" data-options="field:'UPost'">用户职位</th>
            </tr>
            <tr>
                <th data-options="field:'id'">用户ID</th>
                <th data-options="field:'Uname'">用户账号</th>
            </tr>
        </thead>
    </table>
</div>
<script src="~/Scripts/datagrid-export.js"></script>
<script type="text/javascript">
    $().ready(function () {
        InitData();
        InitLayout();
    });

    function InitData() {
        
    }

    function webPring() {

        window.print();
    }

    function InitLayout() {

        let myurl =  "../../BaseInfo/BaseInfo/GetAllUserInfo";
        let params = {userid:'1' };
      
        $('#dg').datagrid({
            url: myurl,
            queryParams: params
        });
    }

</script>