@{
    ViewBag.Title = "DialogFrame";
    Layout = "~/Views/Shared/_LayoutJSCSS.cshtml";
}

<div>
    <input type="text" class="companyid" id="companyid" />
    <input type="text" class="companyname" id="companyname" />

    <input class="easyui-searchbox" id="testkey" laebl="键值" />
    <input class="easyui-textbox" id="testvalue"/>

</div>

<script src="~/Scripts/EasyLib/EasyLib.js"></script>
<link href="~/Scripts/EasyLib/css/EasyLib.css" rel="stylesheet" />

<script type="text/javascript">

    newDialog = function (dict) {
        var dom = {
            text: "EasyLib-SearchTxt",
            icon: "EasyLib-SearchTxt-Icon",
            win: "EasyLib-SearchTxt-Win",
            WinIframe: "EasyLib-SearchTxt-Win-Iframe"
        };

        var FieldArrLen = dict.FieldArr.length;
        if (dict.$DomArr.length !== FieldArrLen) {
            alert("三点控件渲染失败!原因是:提供的参数:$DomArr 和 FieldArr 数量不匹配,请检查!");
            return;
        }

        var moreFn = function (status) {
            //根据多个文本框查询
            var $MoreValArr = dict.$MoreValArr ? dict.$MoreValArr : "";
            var MoreKeyArr = dict.MoreKeyArr ? dict.MoreKeyArr : "";
            var moreParam = "";
            if ($MoreValArr && MoreKeyArr) {
                if (dict.$MoreValArr.length !== dict.MoreKeyArr.length) {
                    alert("更多查询参数不匹配!原因是:提供的参数:$MoreValArr 和 MoreKeyArr 数量不匹配,请检查!");
                    return;
                }
                for (var i = 0; i < dict.$MoreValArr.length; i++) {
                    moreParam += "&" + dict.MoreKeyArr[i] + "=" + encodeURIComponent(dict.$MoreValArr[i].val());
                }
                if (status === 0) {
                    if (dict.WinUrl.indexOf("?") === -1) {//不包含 ?
                        moreParam = "?EasyLibCtlSearchTxtParam=" + moreParam;
                    }
                }
            }
            return moreParam;
        }
        var $MustValArr = dict.$MustValArr ? dict.$MustValArr : "";//判断必填参数
        var $CountValArr = dict.$CountValArr ? dict.$CountValArr : "";//执行指定事件参数
        dict.$DomArr[0].next("." + dom.icon).remove();
        dict.$DomArr[0].addClass(dom.text).after("<span class='" + dom.icon + "'></span>");
        dict.$DomArr[0].next("." + dom.icon).on("click", function () {

            ////判断必填参数
            if (dict.$MustValArr != "" && dict.$MustValArr != undefined && dict.$MoreValArr != "" && dict.$MoreValArr != undefined) {
                if (dict.$MoreValArr[0].val() == "" || dict.$MoreValArr[0].val() == undefined) {
                    alert(dict.$MustValArr[0]);
                    return;
                }
            }

            $("." + dom.win).remove();
            var searchParam = "";
            if (dict.$search) {
                searchParam = encodeURIComponent(dict.$search.val());
            }
            var content = "<iframe width='100%' height='99%' height='300px' frameborder='0' src='"
                + dict.WinUrl + searchParam + moreFn(0) + "' name='" + dom.WinIframe + "'></iframe>";
            $("body").append("<div class='" + dom.win + "'>" + content + "</div>");
            $("." + dom.win + "").window({
                title: dict.title ? dict.title : " 请选择",
                width: dict.width ? dict.width : 600,
                height: dict.height ? dict.height : 400,
                modal: true,
                onOpen: function () {
                    var iframe = window.frames[dom.WinIframe];
                    $(iframe).load(function () {//iframe加载成功
                        iframe.$(document).ajaxStop(function () {//ajax完成
                            var $row = $(iframe.document).find("body .datagrid-body").find("tr");
                            if ($row.length) {
                                $row.on("dblclick", function () {
                                    for (var i = 0; i < FieldArrLen; i++) {
                                        var fieldName = dict.FieldArr[i];
                                        dict.$DomArr[i].val($(this).find("td[field='" + fieldName + "']").text());
                                    }
                                    if ($CountValArr != "" && $CountValArr != undefined) {//执行指定事件
                                        var envenstr = $CountValArr + "('" + dict.$MoreValArr[0].val() + "')";
                                        setTimeout(envenstr, 300)
                                    }

                                    $("." + dom.win + "").window("close", true);
                                    dict.success && dict.success();
                                });
                            }

                            var $row_1 = $(iframe.document).find("body").find("span");
                            if ($row_1.length) {
                                $row_1.on("dblclick", function () {
                                    for (var i_1 = 0; i_1 < FieldArrLen; i_1++) {
                                        var fieldName_1 = dict.FieldArr[i_1];
                                        dict.$DomArr[i_1].val($(this).attr(fieldName_1));
                                    }
                                    if ($CountValArr != "" && $CountValArr != undefined) {//执行指定事件
                                        var envenstr = $CountValArr + "('" + dict.$MoreValArr[0].val() + "')";
                                        setTimeout(envenstr, 300)
                                    }
                                    $("." + dom.win + "").window("close", true);
                                    dict.success && dict.success();
                                });
                            }
                        });

                        setTimeout(function () {
                            var $row = $(iframe.document).find("body .datagrid-body").find("tr");
                            if ($row.length) {
                                $row.on("dblclick", function () {
                                    for (var i = 0; i < FieldArrLen; i++) {
                                        var fieldName = dict.FieldArr[i];
                                        dict.$DomArr[i].val($(this).find("td[field='" + fieldName + "']").text());
                                    }
                                    if ($CountValArr != "" && $CountValArr != undefined) {//执行指定事件
                                        var envenstr = $CountValArr + "('" + dict.$MoreValArr[0].val() + "')";
                                        setTimeout(envenstr, 300)
                                    }
                                    $("." + dom.win + "").window("close", true);
                                    dict.success && dict.success();
                                });
                            }

                            var $row_1 = $(iframe.document).find("body").find("span");
                            if ($row_1.length) {
                                $row_1.on("dblclick", function () {
                                    for (var i_1 = 0; i_1 < FieldArrLen; i_1++) {
                                        var fieldName_1 = dict.FieldArr[i_1];
                                        dict.$DomArr[i_1].val($(this).attr(fieldName_1));
                                    }
                                    if ($CountValArr != "" && $CountValArr != undefined) {//执行指定事件
                                        var envenstr = $CountValArr + "('" + dict.$MoreValArr[0].val() + "')";
                                        setTimeout(envenstr, 300)
                                    }
                                    $("." + dom.win + "").window("close", true);
                                    dict.success && dict.success();
                                });
                            }
                        }, 3000);
                    });
                }
            });
        });

        var isKeypressTrigger = false;//是否已触发enter键
        dict.$DomArr[0].on("keypress", function (e) {//回车键
            if (dict.$DomArr[0].val()) {
                var e = e || window.event;
                if (e.keyCode == 13) {
                    $.getJSON(dict.AjaxUrl + encodeURIComponent(dict.$DomArr[0].val()) + moreFn(), function (data) {
                        data = data.Row;
                        if (data.length === 0) {
                            for (var i = 1; i < FieldArrLen; i++) {
                                dict.$DomArr[i].val("");
                            }
                            alert("找不到相关数据!");
                        }
                        else {
                            for (var i = 1; i < FieldArrLen; i++) {
                                var fieldName = dict.FieldArr[i];
                                dict.$DomArr[i].val(data[0][fieldName]);
                            }
                        }
                        dict.success && dict.success();
                    });
                    isKeypressTrigger = true;
                }
            }
        });
        dict.$DomArr[0].on("keyup", function (e) {//按键弹起
            var e = e || window.event;
            if (e.keyCode !== 13) {
                for (var i = 1; i < FieldArrLen; i++) {
                    dict.$DomArr[i].val("");
                }
            }
        });
        dict.$DomArr[0].on("blur", function (e) {//光标离开
            if (isKeypressTrigger) {
                isKeypressTrigger = false;
                return;
            }
            if (dict.$DomArr[0].val()) {
                $.getJSON(dict.AjaxUrl + encodeURIComponent(dict.$DomArr[0].val()) + moreFn(), function (data) {
                    data = data.Row;
                    if (data.length === 0) {
                        for (var i = 1; i < FieldArrLen; i++) {
                            dict.$DomArr[i].val("");
                        }
                        alert("找不到相关数据!");
                    }
                    else {
                        for (var i = 1; i < FieldArrLen; i++) {
                            var fieldName = dict.FieldArr[i];
                            dict.$DomArr[i].val(data[0][fieldName]);
                        }
                    }
                    dict.success && dict.success();
                });
            }
        });

        if (dict.cancelEvent) {//禁用所有事件
            dict.$DomArr[0].next("." + dom.icon).unbind("click");
            dict.$DomArr[0].unbind("keypress");
            dict.$DomArr[0].unbind("keyup");
            dict.$DomArr[0].unbind("blur");
        }
    }   //三点控件

    $().ready(function () {
        InitLayout();
        InitData();
    });

    function InitLayout() {
        //EasyLib.Ctl.SearchTxt({
        //    //必填项
        //    $DomArr: [$(".companyid"), $(".companyname")],
        //    FieldArr: ["id", "Uname"],
        //    WinUrl: "./BaseDataDataGridTest",
        //    title: "查询窗口",
        //    width: 800,
        //    height: 500
        //});

        newDialog({
            $DomArr: [$("#companyid"), $("#companyname")],
            FieldArr: ["id", "Uname"],
            WinUrl: "./BaseDataDataGridTest",
            title: "查询窗口",
            AjaxUrl: "../../BaseInfo/BaseInfo/GetAllUserInfo",
            width: 800,
            height: 500
        });

    }

    function InitData() {

    }

    

</script>
