@{
    ViewBag.Title = "ExPost";
    Layout = "~/Views/Shared/_LayoutJSCSS.cshtml";
}
<div>

    <a href="#" class="easyui-linkbutton c1" onclick="postdata()">初始</a>

    <a href="#" class="easyui-linkbutton c1" onclick="GetToken()">包含token</a>

    <a href="#" class="easyui-linkbutton c1" onclick="toggle()">折叠/展开</a>

    <div id="sm" class="easyui-sidemenu" data-options="data:data"></div>

</div>
<script src="~/Scripts/MoudelJS.js"></script>
@*<link href="~/Content/themes/sidemenu_style.css" rel="stylesheet" />*@
<script type="text/javascript">

    var data = [{
        text: 'Item1',
        iconCls: 'icon-sum',
        state: 'open',
        children: [{
            text: 'Option1',

        }, {
            text: 'Option2'
        }, {
            text: 'Option3',
            iconCls: 'icon-ok',
            children: [{
                text: 'Option31'
            }, {
                text: 'Option32'
            }]
        }]
    }, {
        text: 'Item2',
        iconCls: 'icon-more',
        children: [{
            text: 'Option4'
        }, {
            text: 'Option5'
        }, {
            text: 'Option6'
        }]
    }];

    $().ready(function () {
        InitLayout();
        InitData();
    });

    function InitLayout() {

    }
    function InitData() {

    }



    function postdata() {
        //var url = "./ObserverTest";
        //var json = { userid: '1' };

    }

    function GetToken() {
        var url = "./CreateToken";
        var json = { username: 'admin', pwd: '123' };


        MoudelJS.exPost(url, json, function (result) {
            console.log(result);
        }, 'json').error();

    }

    function toggle() {
        var opts = $('#sm').sidemenu('options');
        $('#sm').sidemenu(opts.collapsed ? 'expand' : 'collapse');
        opts = $('#sm').sidemenu('options');
        $('#sm').sidemenu('resize', {
            width: opts.collapsed ? 60 : 200
        })
    }

</script>
