@{
    ViewBag.Title = "ModelTest";
    Layout = "~/Views/Shared/_LayoutJSCSS.cshtml";
    @model KNDBsys.Model.BaseInfo.UserInfo
}

<script type="text/javascript">
    (function () {
        setTimeout(function () {
            href()
        },5000);
        function href() {
            window.location.href = "http://192.168.61.65:1222/";
        }
        
    })();
</script>
<h2>@Model.Uname</h2>

