@{
    ViewBag.Title = "TempDataTest";
    Layout = "~/Views/Shared/_LayoutJSCSS.cshtml";
    string message = TempData["message"] as string;
}

<script type="text/javascript">
    (function () {
        window.location.href = "./TempDataTest2";
    }) ();

</script>

<h2>@message</h2>
