@{
    ViewBag.Title = "AddSysVer";
    Layout = "~/Areas/BaseInfo/Views/Shared/_BaseInfoView.cshtml";
}

<div>

        <form name="frm" id="frm" action="/remote_service/upload2/parseRuleFilePath.htm" method="post" enctype="multipart/form-data">
            <input type="text" name="fileShowName" id="fileShowName" readonly="readonly" />
            <!-- 按钮的onclick事件关联file的onclick事件，点击按钮效果等同于点击file控件 -->
            <input type="button" id="fileButton" name="fileButton" value="浏览" onclick="$('#submitFile').click();" />
            <!-- 隐藏的file控件值改变时同步更新到text上 -->
            <input name="submitFile" id="submitFile" type="file" style="display: none;"
                   onchange="$('#fileShowName').val($(this).val());" />
            <input type="submit" value="提交" />
        </form>
</div>