@{
    ViewBag.Title = "AddView";
    Layout = "~/Views/Shared/_LayoutJSCSS.cshtml";
}

<div>


	<div class="easyui-panel" style="width:300px;max-width:400px;padding:30px 60px;">
		<div style="margin-bottom:20px">
			<input class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:100%;">
		</div>
		<div style="margin-bottom:20px">
			<input class="easyui-datebox" label="End Date:" labelPosition="top" style="width:100%;">
		</div>
	</div>


</div>
